.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #FEF9F8;
    text-align: center;
    /* border-radius: 8px; */
    /* border: 1px solid black; */
    width: 95%;
    margin-top: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
  }
  
  .input {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .delete {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
  }
  
  .addButton {
    background-color: #EF9273;
    color: #0d0d0d;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .addButton:hover {
    background-color: #EF9273;
  }
  
  .summary {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .chargeButton {
    background-color: #EF9273;
    color: #0d0d0d;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chargeButton:hover {
    background-color: #EF9273;
  }
  