.container {
    padding: 20px;
    width: 95%;
    /* text-align: center; */
    /* border: 1px solid black; */
    /* margin: 150px auto; */
  }
  
  .button {
    
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #EF9273;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .button:hover {
    background-color: #EF9273;
    
  }
  
  .tableContainer {
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .table th,
  .table td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .operateButton {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #FEF9F8;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .operateButton:hover {
    background-color: #218838;
  }
  