.container {
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .operate button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .operate button:hover {
    background-color: #d32f2f;
  }
  /* State-specific colors */
.state {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
}

.state.pending {
  background-color: #ffcc00; /* Yellow for pending */
  color: #000;
}

.state.failed {
  background-color: #ff3333; /* Red for failed */
  color: #fff;
}

.state.completed {
  background-color: #4CAF50; /* Green for complete */
  color: #fff;
}



.table tbody tr:hover{
  background-color: #e7e7e7 !important; 
  color: #0d0d0d !important;
}
.table tbody tr:hover td {
  background-color: inherit !important;

  color: #0d0d0d !important;
}