
   
 
 .container {
  width: 93%;
  height: auto;
  margin: auto;
  padding: 30px;
  background: #fef9f8;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: start;
  /* border: 1px solid black; */
  font-family: sans-serif, 'Inter';
}

.button {
  background: #ef9273;
  color: #0d0d0d;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 200;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #d77f63;
}

.exportButton {
  background: #0d0d0d;
}

.exportButton:hover {
  background: #333;
}

.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #0d0d0d;
}

.table th {
  background: #ef9273;
  color: #0d0d0d;
  font-weight: bold;
}

.table td:hover {
  background-color: #FEF9F8;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #ef9273;
}

/* Modal Styling */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.modalContent {
  /* border: 5px solid rgb(196, 35, 35); */
  background: #fef9f8;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: start;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modalBody label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #0d0d0d;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  
}

.modalButton {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  
}

.modalButton:first-child {
  background: #0d0d0d;
  color: white;
}
.networkDetails p{
  font-size: 1rem;
  color: #ef9273;

}
.networkDetails strong{
  color: black;
}
.modalButton:first-child:hover {
  background: #333;
}

.modalButton:last-child {
  background: #ef9273;
  color: white;
}

.modalButton:last-child:hover {
  background: #d77f63;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pageButton {
  background: #ef9273;
  color: #0d0d0d;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background 0.3s ease-in-out;
}

.pageButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 1rem;
  font-weight: bold;
  color: #0d0d0d;
}
/* State-specific colors */
.state {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
}

.state.pending {
  background-color: #ffcc00; /* Yellow for pending */
  color: #000;
}

.state.failed {
  background-color: #ff3333; /* Red for failed */
  color: #fff;
}

.state.completed {
  background-color: #4CAF50; /* Green for complete */
  color: #fff;
}



.table tbody tr:hover{
  background-color: #e7e7e7 !important; 
  color: #0d0d0d !important;
}
.table tbody tr:hover td {
  background-color: inherit !important;

  color: #0d0d0d !important;
}



    