.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  padding: 15px;
  width: 350px;
  display: inline-block;
}

.input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%;
}

select.input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 53.5%;
}

.submitButton {
  margin: 0 auto;
  width: 100px;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

/* Platform checkboxes under Agency Ads */
.platformsGroup {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
}

.platformsGroup label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 15px; 
  width: 200px; 
}

/* Services checkboxes */
.checkboxGroupColumn {
  display: flex;
  flex-direction: column; 
  gap: 8px; 
}

.checkboxGroupColumn label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Business checkboxes under "What is your business?" */
.businessGroup {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
}

.businessGroup label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 15px; 
  width: 200px; 
}

/* Monthly Spend (USD) radio buttons */
.radioGroup {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
}

.radioGroup label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 15px; 
  width: 200px; 
}

/* Drop Shipping Service checkboxes */
.dropServiceGroup {
  display: flex;
  flex-direction: column; 
  gap: 8px; 
}

.dropServiceGroup label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  .input,
  select.input {
    width: 95%;
  }

  label {
    width: 100%; 
    padding: 10px 0;
  }

  .submitButton {
    width: 100%;
    max-width: 200px; /* Limit the button width */
  }

  .platformsGroup label,
  .businessGroup label,
  .radioGroup label {
    width: 100%; /* Adjust labels to full width */
  }
}

@media (max-width: 480px) { /* For mobile phones */
  .title {
    font-size: 20px;
  }

  .input,
  select.input {
    font-size: 14px;
    padding: 10px;
  }

  .submitButton {
    padding: 10px;
    font-size: 14px;
  }

  label {
    font-size: 12px;
  }

  .platformsGroup label,
  .businessGroup label,
  .radioGroup label {
    width: 100%; /* Full width on mobile */
  }
}
