.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  padding: 15px;
  /* border: 1px solid black; */
  width: 350px; /* Set the desired width */
  display: inline-block; /* Ensure the width is respected */
}


.input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%;
}
select.input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 53.5%;
}

.submitButton {
  margin: 0 auto;
  width: 100px;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
.checkboxGroupColumn {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Add some spacing between checkboxes */
}

.checkboxGroupColumn label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
