.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #0d0d0d;
    background-color: #fef9f8;
    /* border: 1px solid black; */
    width: 93%;
    margin: 10px auto;
  }
  
  .sectionTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: #0d0d0d;
  }
  
  .notificationSection,
  .adAccountSection {
    margin-bottom: 30px;
  }
  
  .notificationCards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .card {
    flex: 1;
    text-align: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }
  
  .card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .cardTitle {
    font-size: 16px;
    color: #0d0d0d;
  }
  
  .cardCount {
    font-size: 28px;
    font-weight: bold;
    color: #ef9273;
  }
  
 
  .actionButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .createAdButton {
    background-color: #EF9273;
    color: #0d0d0d;
  }
  
  .vipButton {
    background-color: #EF9273;
    color: #0d0d0d;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .table th {
    background-color: #EF9273;
    font-weight: bold;
  }
  
  .noData {
    text-align: center;
    padding: 20px;
  }
  
  .noDataImage {
    max-width: 100px;
    margin-bottom: 10px;
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .closeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    /* position: absolute; */
    top: 10px;
    right: 10px;
  }
  
  button {
    cursor: pointer;
  }
  
    
/* State-specific colors */
.state {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
}

.state.pending {
  background-color: #ffcc00; /* Yellow for pending */
  color: #fff;
}

.state.failed {
  background-color: #ff3333; /* Red for failed */
  color: #fff;
}

.state.completed {
  background-color: #4CAF50; /* Green for complete */
  color: #fff;
}



.table tbody tr:hover{
  background-color: #e7e7e7 !important; 
  color: #0d0d0d !important;
}
.table tbody tr:hover td {
  background-color: inherit !important;

  color: #0d0d0d !important;
}